<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.goodsmarket.jh.used_trade.repository.CommentRepository">
 	<insert id="insertComment" parameterType="map">
 		INSERT INTO
 			`comment`
 		(
 			`usedTradeId`
 			, `userId`
 			, `nickName`
 			, `contents`
 		)
 		VALUE
 		(
 			#{usedTradeId}
 			, #{userId}
 			, #{nickName}
 			, #{contents}
 		)
 	</insert>
 	
 	<select id="selectAllCommentsByUsedTradeId" parameterType="int" resultType="com.goodsmarket.jh.used_trade.domain.Comment">
 		SELECT
 			`id`
 			, `usedTradeId`
 			, `userId`
 			, `nickName`
 			, `contents`
 			, `createdAt`
 		FROM
 			`comment`
 		WHERE
 			`usedTradeId` = #{usedTradeId}	
 	</select>
 	
 	<delete id="deleteCommentById" parameterType="int">
 		DELETE
 		
 		FROM
 			`comment`
 		WHERE
 			`id` = #{id};
 	</delete>
 	
 	<delete id="deleteAllCommentsByUserId" parameterType="int">
 		DELETE
 		
 		FROM
 			`comment`
 		WHERE
 			`userId` = #{userId};
 	</delete>
 </mapper>