<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.goodsmarket.jh.favorite.repository.FavoriteRepository">
 	<insert id="insertFavorite" parameterType="map">
 		INSERT INTO
 			`favorite`
 		(
 			`usedTradeId`
 			, `userId`
 		)
 		VALUE
 		(
 			#{usedTradeId}
 			, #{userId} 		
 		)
 	</insert>
 	
 	<select id="countFavorite" parameterType="map">
 		SELECT 
 			COUNT(*)
 		FROM
 			`favorite`
 		WHERE `usedTradeId` = #{usedTradeId} AND `userId` = #{userId}
 	</select>
 	
 	<select id="countAllFavorite" parameterType="int" resultType="int">
 		SELECT 
 			COUNT(*)
 		FROM
 			`favorite`
 		WHERE `usedTradeId` = #{usedTradeId}
 	</select>
 	
 	<delete id="deleteFavorite" parameterType="map">
 		DELETE
 		
 		FROM
 			`favorite`
 		WHERE `usedTradeId` = #{usedTradeId} AND `userId` = #{userId}
 	</delete>
 	
 	<delete id="deleteAllFavorite" parameterType="int">
 		DELETE
 		
 		FROM
 			`favorite`
 		WHERE `userId` = #{userId}
 	</delete>
 	
 	<select id="selectUserFavoriteList" parameterType="int" resultType="int">
 		SELECT
 			`usedTradeId`
 		FROM
 			`favorite`
 		WHERE `userId` = #{userId}
 	</select>
 </mapper>