<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.goodsmarket.jh.used_trade.repository.FileImageRepository">
 	<insert id="insertFileImage" parameterType="map">
 		INSERT INTO
 			`used_trade_image`
 		(
 			`usedTradeId`
 			, `userId`
 			, `imagePath`
 		)
 		VALUE
 		(
 			#{usedTradeId}
 			, #{userId}
 			, #{imagePath} 		
 		)
 	</insert>
 	
 	<select id="selectAllFileImage" parameterType="int" resultType="com.goodsmarket.jh.used_trade.domain.FileImage">
 		SELECT
 			`id`
 			, `usedTradeId`
 			, `userId`
 			, `imagePath`
 			, `createdAt`
 		FROM
 			`used_trade_image`
 		WHERE
 			`usedTradeId` = #{usedTradeId}
 	</select>
 	
 	<delete id="deleteAllFileImageByUserId" parameterType="int">
 		DELETE
 		
 		FROM
 			`used_trade_image`
 		WHERE
 			`userId` = #{userId}
 	</delete>
 	
 	<delete id="deleteFileImageByUsedTradeId" parameterType="int">
 		DELETE
 		
 		FROM
 			`used_trade_image`
 		WHERE
 			`usedTradeId` = #{usedTradeId}
 	</delete>
 	
 	<select id="selectAllFileImageByUserId" parameterType="int" resultType="com.goodsmarket.jh.used_trade.domain.FileImage">
 		SELECT
 			`id`
 			, `usedTradeId`
 			, `userId`
 			, `imagePath`
 			, `createdAt`
 		FROM
 			`used_trade_image`
 		WHERE
 			`userId` = #{userId}
 	</select>
 	
 	<update id="updateFileImageByUsedTradeId" parameterType="int">
 		UPDATE
 			`used_trade_image`
 		SET
 			`imagePath` = #{imagePath}
 		WHERE
 			`usedTradeId` = #{usedTradeId}
 	</update>
 </mapper>