<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.goodsmarket.jh.shoppingcart.repository.ShoppingCartRepository">
 	<insert id="insertShoppingCart" parameterType="map">
 		INSERT INTO
 			`shopping_cart`
 		(
 			`usedTradeId`
 			, `userId`
 		)
 		VALUE
 		(
 			#{usedTradeId}
 			, #{userId} 		
 		)
 	</insert>
 	
 	<select id="countShoppingCart" parameterType="map">
 		SELECT 
 			COUNT(*)
 		FROM
 			`shopping_cart`
 		WHERE `usedTradeId` = #{usedTradeId} AND `userId` = #{userId}
 	</select>
 	
 	<select id="countAllShoppingCart" parameterType="int" resultType="int">
 		SELECT 
 			COUNT(*)
 		FROM
 			`shopping_cart`
 		WHERE `usedTradeId` = #{usedTradeId}
 	</select>
 	
 	<delete id="deleteShoppingCart" parameterType="map">
 		DELETE
 		
 		FROM
 			`shopping_cart`
 		WHERE `usedTradeId` = #{usedTradeId} AND `userId` = #{userId}
 	</delete>
 </mapper>