<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.goodsmarket.jh.used_trade.repository.UsedTradeRepository">
 	<insert id="insertUsedTrade" parameterType="map">
 		INSERT INTO
 			`used_trade`
 		(
 			`userId`
 			, `title`
 			, `contents`
 			, `imagePath`
 			, `location`
 			, `addTradingPlace`
 			, `sellerName`
 			, `sellPrice`
 		)
 		VALUE
 		(
 			#{userId}
 			, #{title}
 			, #{contents}
 			, #{imagePath}
 			, #{location}
 			, #{addTradingPlace}
 			, #{sellerName}
 			, #{sellPrice}
 		)
 	</insert>
 	
 	<select id="selectAllUsedTrade" resultType="com.goodsmarket.jh.used_trade.domain.UsedTrade">
 		SELECT
 			`id`
 			, `userId`
 			, `title`
 			, `contents`
 			, `imagePath`
 			, `location`
 			, `addTradingPlace`
 			, `sellerName`
 			, `sellPrice`
 			, `views`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`used_trade`
 	</select>
 	
 	<select id="selectUsedTrade" resultType="com.goodsmarket.jh.used_trade.domain.UsedTrade" parameterType="int">
 		SELECT
 			`id`
 			, `userId`
 			, `title`
 			, `contents`
 			, `imagePath`
 			, `location`
 			, `addTradingPlace`
 			, `sellerName`
 			, `sellPrice`
 			, `views`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`used_trade`
 		WHERE `id` = #{id};
 	</select>
 	
 	<select id="selectUsedTradeByUserId" parameterType="int" resultType="com.goodsmarket.jh.used_trade.domain.UsedTrade">
 		SELECT
 			`id`
 			, `userId`
 			, `title`
 			, `contents`
 			, `imagePath`
 			, `location`
 			, `addTradingPlace`
 			, `sellerName`
 			, `sellPrice`
 			, `views`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`used_trade`
 		WHERE `userId` = #{userId};
 	</select>
 	
 	<select id="selectUsedTradeViews" parameterType="int" resultType="int">
 		SELECT
 			`usedTradeId`
 		FROM
 			`used_trade_views`
 		WHERE 
 			`usedTradeId` = #{usedTradeId};
 	</select>
 	
 	<update id="updateUsedTradeViews" parameterType="int">
 		UPDATE
 			`used_trade`
 		SET
 			`views` = `views` + 1
 		WHERE
 			`id` = #{id}
 	</update>
 	
 	<delete id="deleteAllUsedTrade" parameterType="int">
 		DELETE
 		
 		FROM
 			`used_trade`
 		WHERE
 			`userId` = #{userId}
 	</delete>
 </mapper>