<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.goodsmarket.jh.user.repository.UserRepository">
 	<insert id="insertUser" parameterType="String">
 		INSERT INTO
 			`user`
 		(
 			`loginId`
 			, `password`
 			, `name`
 			, `phone`
 			, `email`
 			, `nickName`
 		)
 		VALUE
 		(
 			#{loginId}
 			, #{password}
 			, #{name}
 			, #{phone}
 			, #{email}
 			, #{nickName}
 		)
 	</insert>
 	
 	<select id="selectUser" parameterType="Map" resultType="com.goodsmarket.jh.user.domain.User">
 		SELECT
 			`id`
 			, `loginId`
 			, `password`
 			, `name`
 			, `phone`
 			, `email`
 			, `nickName`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`user`
 		WHERE `loginId` = #{loginId} AND `password` = #{password} 
 	</select>
 </mapper>