<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>물품 검색</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div id="wrap">
		<th:block th:replace="~{fragments/header :: header}"></th:block>
		<div id="articleBanner" class="mt-2"></div>
		<div id="allGoodsTitle" class="mt-2 d-flex">
			<div id="noneUseAllGoodsTitle1"></div>
			<div id="useAllGoodsTitle" class="d-flex align-items-center justify-content-center">
				<h3>검색된 물품</h3>
			</div>
			<div id="noneUseAllGoodsTitle2" class="d-flex align-items-center justify-content-end">
				<div class="input-group">
				    <input type="search" id="searchItem" class="form-control rounded" placeholder="물품 검색" aria-label="Search" aria-describedby="search-addon" />
				    <button type="button" id="searchBtn" class="ml-2 mr-2 btn btn-dark">검색</button>
				</div>
			</div>
		</div>
		<section class="mt-2" th:each="usedTrade:${usedTradeList}">
			<a th:href="@{/usedtrade/show-view(id=${usedTrade.id})}">
				<span class="sellList d-flex">
					<span class="goodsPictureArea d-flex align-items-center justify-content-center">
						<img class="goodsPictureSize" th:unless="${usedTrade.imagePath == null}" th:src="@{${usedTrade.imagePath}}">
						<img class="goodsPictureSize" th:if="${usedTrade.imagePath == null}" src="https://cdn-icons-png.flaticon.com/128/10701/10701484.png">
					</span>
					<span class="sellListInfoArea">
						<span class="mt-2 sellListInfoTitle d-flex align-items-center text-dark font-weight-bold" th:text="'제목 : ' + ${usedTrade.title}">고양이 관람표</span>
						<span class="mt-1 sellListInfoPlace d-flex align-items-center text-dark" th:text="'거래장소 : ' + ${usedTrade.location}">서울시</span>
						<span class="mt-1 sellListInfoUser d-flex align-items-center text-dark" th:text="'작성자 : ' + ${usedTrade.sellerName}">작성자 : 홍길동</span>
						<div class="mt-1 mr-5 sellListInfoOthers d-flex align-items-center justify-content-end text-dark">찜 : 10</div>
					</span>
				</span>
			</a>	
		</section>
		<footer class="mt-2 d-flex align-items-end justify-content-between">
			<button type="button" class="btn btn-secondary mt-3" id="backBtn">돌아가기</button>
			<button type="button" class="btn btn-secondary mt-3" id="createBtn">판매글 작성</button>
		</footer>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<script>
		$(document).ready(function(){
			//헤더
			$("#subMenu").hide()
			
			let menuClick = false;
			
			$(".menuBtn").on("click", function(){
				if(menuClick == false)
				{
					menuClick = true;
					$("#subMenu").show();
				}
				else
				{
					menuClick = false;
					$("#subMenu").hide();
				}
			})
			
			// 판매글 작성 이동 버튼
			$("#createBtn").on("click", function(){
				location.href="/usedtrade/create-view"
			});
			
			// 이전 화면으로 이동 버튼
			$("#backBtn").on("click",function(){
				location.href="/usedtrade/list-view";
			});
			
			// 검색 기능
			$("#searchBtn").on("click", function(){
				let title = $("#searchItem").val();
				
				location.href="/usedtrade/search-view?title="+title;
			});
		});
	</script>
</body>
</html>