<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>로그인 페이지</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div id="wrap" class="bg-secondary">
		<div id= "noneUseLoginArea1"></div>
		<div id = "marketField" class = "d-flex">
			<div id = "noneUseMarketField"></div>
			<div id = "useMarketField" class="d-flex justify-content-center align-items-center">
				<h1>마켓플레이스</h1>
			</div>
		</div>
		<div id = "noneUseLoginArea2"></div>
		<form id="loginForm">
			<div id = "loginIdFiled" class = "d-flex">
				<div id = "noneUseIdField"></div>
				<div id = "useIdField" class = "d-flex justify-content-center align-items-center">
					<h1>ID : </h1>
					<input type="text" class="ml-3 form-control col-5" id="inputId">
				</div>
			</div>
			<div id = "loginPwFiled" class = "d-flex mt-5">
				<div id = "noneUsePwField"></div>
				<div id = "usePwField" class="d-flex justify-content-center align-items-center">
					<h1>PW : </h1>
					<input type="text" class="ml-3 form-control col-5" id="inputPassword">
				</div>
			</div>	
		</form>
		
		<div id = "noneUseLoginArea3"></div>
		<div id = "loginBtnsArea" class = "d-flex">
			<div id = "noneUseloginBtnsField"></div>
			<div id = "useLoginBtnsField" class="d-flex justify-content-between align-items-between">
				<button type="button" class="btn btn-dark btn-lg" id="joinBtn">회원가입</button>	
				<a id="kakao-login-btn" href="javascript:loginWithKakao()">
 					<img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="222" alt="카카오 로그인 버튼" />
				</a>
				<p id="token-result"></p>	
				<button type="submit" class="btn btn-dark btn-lg" id="loginBtn">로그인</button>
			</div>
		</div>
		<footer class = "bg-secondary"></footer>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<!--  
	<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.2/kakao.min.js" integrity="sha384-TiCUE00h649CAMonG018J2ujOgDKW/kVWlChEuu4jK2vxfAAD0eZxzCKakxg55G4" crossorigin="anonymous"></script>
	<script>
		Kakao.init('');		// 카카오 App키
	</script>
	-->
	
	<!-- 카카오 로그인  --> 
	<!--  
	<script>
		// 카카오 로그인 성공시 리다이렉트 주소 이동
		function loginWithKakao()
		{
			Kakao.Auth.authorize({
				redirectUri: 'http://localhost:8080/user/additional/join-view',
			});
			getInfo();
		}
		
		
		displayToken()
		  function displayToken() {
		    var token = getCookie('authorize-access-token');
			console.log("token : " + token);
		    if(token) {
		      Kakao.Auth.setAccessToken(token);
		      Kakao.Auth.getStatusInfo()
		        .then(function(res) {
		          if (res.status === 'connected') {
		            document.getElementById('token-result').innerText
		              = 'login success, token: ' + Kakao.Auth.getAccessToken();
		          }
		        })
		        .catch(function(err) {
		          Kakao.Auth.setAccessToken(null);
		        });
		    }
		  }
		
			// 사용자 정보 받아오기
			function getInfo(){
				Kakao.API.request({
					url: '/v2/user/me',
					success: function(res){
						console.log(res);
						var profile_nickname = res.kakao_account.profile.nickname;
						var profile_image = res.kakao_account.profile.thumbnail_image_url;
						
						localStorage.setItem("nickname", profile_nickname);
						localStorage.setItem("imagepath", profile_image);
						console.log(profile_nickname);
					},
					fail: function(error){
						alert("카카오 로그인에 실패했습니다." + JSON.stringfy(error));
					},
				});
			}

			function getCookie(name)
			{
				var parts = document.cookie.split(name + '=');
				if(parts.length === 2)
				{
					return parts[1].split(';')[0];
				}
			}
	</script>
	-->
	<!-- 카카오 로그인 끝 --> 
	
	<script>
		$(document).ready(function(){
			$("#joinBtn").on("click", function(){
				location.href="/user/join-view";
			});
			
			// 엔터키로 로그인하는 기능
			$("#inputPassword").on("keypress", function(e)
			{
				if(e.keyCode == "13")
				{
					$("#loginBtn").click();
				}
			});
			
			$("#loginBtn").on("click", function(){
				let loginId = $("#inputId").val();
				let password = $("#inputPassword").val();
				
				$.ajax({
					type:"post"
					, url:"/user/login"
					, data:{"loginId":loginId, "password":password}
					, success:function(data)
					{
						if(data.result == "success")
						{
							location.href="/usedtrade/list-view";
						}
						else
						{
							alert("로그인 실패");
						}
					}
					, error:function()
					{
						alert("로그인 오류 발생");
					}
				});
			});
		});
	</script>
</body>
</html>