<!DOCTYPE html>
	<header class="d-flex">
		<ul id="mainMenu">
			<li>
				<a href="#">
			    	<img class="menuBtn" width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/2976/2976215.png">
			    </a>
			    <ul id="subMenu">
			    	<li class="mt-3"><a href="#">중고거래판</a></li>
			    	<li class="mt-3"><a href="#">자유게시판</a></li>
			    </ul>
			</li>
			</ul>
		<div id="titleName" class="d-flex align-items-center justify-content-center">
			<h3>마켓플레이스</h3>
		</div>
		<div id="user-field" class="d-flex align-items-center justify-content-between">
			<h5 th:text="'사용자 : ' + ${session.userName}">홍길동</h5>
			<a href="/user/logout">
					<button class="mr-2 btn btn-dark" id="logoutBtn">로그아웃</button>
			</a>
		</div>
	</header>	
</html>