@charset "UTF-8";

#wrap
{
	width : 1200px;
	margin : 0 auto;
}

header
{
	background-color : #c0c0c0;
}

ul li
{
	list-style:none;
}

header > #mainMenu
{
	width : 300px;
}

header > #titleName
{
	width : 600px;
}

header > #user-field
{
	width : 300px;
}

#wrap > #noneUseLoginArea1
{
	height : 100px;
}

#wrap > #marketField
{
	height : 150px;
}

#wrap > #marketField > #noneUseMarketField
{
	width : 200px;
}

#wrap > #marketField > #useMarketField
{
	width : 800px;
	background-color : #c0c0c0;
}

#wrap > #noneUseLoginArea2
{
	height : 100px;
}

#wrap > #loginIdFiled
{
	height : 200px;
}

#wrap > #loginIdFiled > #noneUseIdField
{
	width : 200px;
}

#wrap > #loginIdFiled > #useIdField
{
	width : 800px;
	background-color : #c0c0c0;
}

#wrap > #loginIdFiled > #useIdField > #inputId
{
	height : 50px;
}

#wrap > #loginPwFiled > #noneUsePwField
{
	width : 200px;
}

#wrap > #loginPwFiled > #usePwField
{
	width : 800px;
	background-color : #c0c0c0;
}

#wrap > #loginPwFiled > #usePwField > #inputPassword
{
	height : 50px;
}

#wrap > #loginPwFiled
{
	height : 200px;
}

#wrap > #noneUseLoginArea3
{
	height : 200px;
}

#wrap > #loginBtnsArea
{
	height : 100px;
}

#wrap > #loginBtnsArea > #noneUseloginBtnsField
{
	width : 200px;
}

#wrap > #loginBtnsArea > #useLoginBtnsField
{
	width : 800px;
}

#wrap > #loginBtnsArea > #useLoginBtnsField > #joinBtn
{
	height : 50px;
}

#wrap > #loginBtnsArea > #useLoginBtnsField > #loginBtn
{
	height : 50px;
}

#wrap > #noneUseJoinArea1
{
	height : 100px;
}

#wrap > #joinTitle
{
	height : 150px;
}

#wrap > #joinTitle > #noneUseJoinTitle
{
	width : 200px;
}

#wrap > #joinTitle > #useJoinTitle
{
	width : 800px;
	background-color : #c0c0c0;
}

#wrap > #noneUseJoinArea2
{
	height : 100px;
}

#wrap > #joinInfo
{
	height : 850px;	
}

#wrap > #joinInfo > #noneJoinMain1
{
	width : 200px;
}

#wrap > #joinInfo > #joinMain
{
	width : 800px;
}

#wrap > #joinInfo > #joinMain > #joinIdArea
{
	height : 120px;
}

#wrap > #joinInfo > #joinMain > #joinPwArea
{
	height : 100px;
}

#wrap > #joinInfo > #joinMain > #joinPwCheckArea
{
	height : 100px;
}

#wrap > #joinInfo > #joinMain > #joinNameArea
{
	height : 100px;
}

#wrap > #joinInfo > #joinMain > #joinEmailArea
{
	height : 100px;
}

#wrap > #joinInfo > #joinMain > #joinPhoneArea
{
	height : 100px;
}

#wrap > #joinInfo > #joinMain > #joinNickNameArea
{
	height : 100px;
}

#wrap > #joinInfo > #joinMain > #joinBtnsArea
{
	height : 100px;
}

#wrap > #joinInfo > #joinMain > #joinBtnsArea > #loginBtn
{
	height : 60px;
}

#wrap > #joinInfo > #joinMain > #joinBtnsArea > #joinBtn
{
	height : 60px;
}

/* goodsList.html */

#wrap > #articleBanner
{
	height : 250px;
	background-color : #c0c0c0;
}

#wrap > #allGoodsTitle
{
	height : 100px;
	background-color : #c0c0c0;
}

#wrap > #allGoodsTitle > #noneUseAllGoodsTitle1
{
	width : 300px;
}

#wrap > #allGoodsTitle > #useAllGoodsTitle
{
	width : 600px;
}

#wrap > #allGoodsTitle > #noneUseAllGoodsTitle2
{
	width : 300px;
}

#wrap > section > a> .sellList
{
	height : 150px;
	background-color : white;
	border: 1px solid black;
}

#wrap > section > a> .sellList > .goodsPictureArea
{
	width : 150px;
	height : 150px;
}

#wrap > section > a> .sellList > .sellListInfoArea
{
	width : 1050px;
	height : 150px;
}

#wrap > section > a> .sellList > .goodsPictureArea > .goodsPictureSize
{
	width : 100px;
	height : 100px;
}

#wrap > section > a> .sellList > .sellListInfoArea > .sellListInfoTitle
{
	height : 50px;
}

#wrap > section > a> .sellList > .sellListInfoArea > .sellListInfoPlace
{
	height : 20px;
}

#wrap > section > a> .sellList > .sellListInfoArea > .sellListInfoUser
{
	height : 20px;
}

#wrap > section > a> .sellList > .sellListInfoArea > .sellListInfoOthers
{
	height : 20px;
}

/* goodsPost.html */

#wrap > #showGoodsTitle
{
	height : 50px;
}

#wrap > #showGoodsTitle > #noneUseShowGoodsTitle1
{
	width : 300px;
}

#wrap > #showGoodsTitle > #noneUseShowGoodsTitle2
{
	width : 300px;
}

#wrap > #showGoodsTitle > #useShowGoodsTitle
{
	width : 600px;
}

#wrap > section > #sellerInfo
{
	height : 50px;
}

#wrap > section > #sellerInfo > #sellerProfileArea
{
	width : 50px;
	height : 50px;
}

#wrap > section > #sellerInfo > #sellerProfileArea > #sellerProfile
{
	width : 50px;
	height : 50px;
	border-radius : 50%;
}

#wrap > section > #showContent
{
	height : 100px;
}

#wrap > section > #showContent > #goodsPrice
{
	height : 50px;
}

#wrap > section > #showOther
{
	height : 300px;
}

#wrap > section > #showOther > #showFile
{
	width : 400px;
}

#wrap > section > #showOther > #showFile > #checkImage
{
	width : 200px;
	height : 50px;
}

#wrap > section > #showOther > #showFile > #lookingFileImage
{
	width : 200px;
	height : 200px;
}

#wrap > section > #showOther > #showFile > #lookingFileImage > #sellImage
{
	width : 200px;
	height : 200px;
}

#wrap > #userinfo
{
	background-color : #c0c0c0;
}

#wrap > #userinfo > #noneUserinfo1
{
	width : 50px;
}

#wrap > #userinfo > #useUserinfo
{
	width : 1100px;
	background-color : #c0c0c0;
}

#wrap > #userinfo > #noneUserinfo2
{
	width : 50px;
}

#wrap > #userinfo > #useUserinfo > #myinfoArea
{
	height : 300px;
}

#wrap > #userinfo > #useUserinfo > #myinfoArea > #myinfoProfileArea
{
	width : 300px;
}

#wrap > #userinfo > #useUserinfo > #myinfoArea > #myinfoProfileArea > #myinfoProfileImage
{
	width : 300px;
	height : 300px;
}

#wrap > #userinfo > #useUserinfo > #myinfoArea > #myinfoTextArea
{
	width : 800px;
}

#wrap > #userinfo > #useUserinfo > #myinfoArea > #myinfoTextArea > #myinfoUserName
{
	width : 800px;
	height : 150px;
}

#wrap > #userinfo > #useUserinfo > #myinfoArea > #myinfoTextArea > #myinfoUserScore
{
	width : 800px;
	height : 150px;
}

#wrap > #userinfo > #useUserinfo > #myinfoUpdateArea
{
	height : 100px;
}

#wrap > #userinfo > #useUserinfo > #myinfoEtcArea
{
	height : 300px;
}

#wrap > #userinfo > #useUserinfo > #myinfoEtcArea > #myinfoWish
{
	height : 100px;
}

#wrap > #userinfo > #useUserinfo > #myinfoEtcArea > #myinfoBuy
{
	height : 100px;
}

#wrap > #userinfo > #useUserinfo > #myinfoEtcArea > #myinfoSell
{
	height : 100px;
}

#wrap > #userinfo > #useUserinfo > #myinfoPost
{
	height : 150px;
}

#wrap > #infoUpdateArea
{
	height : 150px;
	background-color : #c0c0c0;
}

#wrap > #useInfoUpdateArea
{
	height : 350px;
}

#wrap > #useInfoUpdateArea > #profileImageArea
{
	width : 300px;
	height : 350px;
}

#wrap > #useInfoUpdateArea > #profileImageArea > #profileImageChangeLogo
{
	height : 50px;
	background-color : #c0c0c0;
}

#wrap > #useInfoUpdateArea > #profileImageArea > #profileImageChangeArea
{
	height : 285px;
	background-color : #c0c0c0;
}

#wrap > #useInfoUpdateArea > #userInfoArea
{
	width : 850px;
	height : 350px;
	background-color : #c0c0c0;
}

#wrap >#infoPostTitle
{
	height : 150px;
	background-color : #c0c0c0;
}

#wrap > #postInfoTitle
{
	height : 100px;
}

#wrap > #postInfoTitle > #postInfo
{
	height : 500px;
}

/* goodsInput.html */

#wrap > #sellMainTitleArea
{
	height : 50px;	
}

#wrap > #sellImageArea
{
	height : 220px;
}

#wrap > #sellImageArea > #sellGoodsImageArea > #sellGoodsImage
{
	width : 150px;
	height : 150px;
}

#wrap > #sellTitleArea
{
	height : 50px;
}

#wrap > #sellDetailArea
{
	height : 250px;
}

#wrap > #sellCostArea
{
	height : 50px;
}

#wrap > #sellTradingPlaceArea
{
	height : 200px;
}

#wrap > #sellTradingPlaceArea > #sellTradingPlaceText
{
	height : 50px;
}

#wrap > #sellTradingPlaceArea > #sellLocationArea
{
	height : 150px;
}

/* footer */

footer
{
	height : 40px;
	background-color:#c0c0c0;
}
