<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>다중 파일 업로드 테스트</title>
</head>
<body>
	<!-- 다중파일 업로드 -->
	<form action="add" method="post" enctype="multipart/form-data">
		<input type="file" name="file"/><br/>
		<input type="file" name="file"/><br/>
		<input type="file" name="file"/><br/>
		<input type="submit" value="업로드" id="btn"><br/>
	</form>
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<script>
		$(document).ready(function(){
			let userId = 1;
			$("#btn").on("click", function(){
				alert("버튼눌림");
			});
		});
	</script>
</body>
</html>